---

const { frontmatter } = Astro.props;
import { Image } from '@astrojs/image/components';
import { getImage } from '@astrojs/image';
import BasicCTA from '../ctas/BasicCTA.astro';

---

<div data-wow-delay="0.3s" class="relative flex flex-col p-6 wow fadeInUp  bg-white dark:bg-slate-900 rounded shadow-xl dark:border dark:border-slate-800">
  <div class="w-full items-center mb-4">
    <div class="w-full ml-4 text-xl font-bold">
      {frontmatter.title}
    </div>
    <div class="">
      <img class="w-full p-3" width={500} loading="lazy" src={frontmatter.img} />
    </div>
  </div>
  <div class="w-full ml-4">
  <p class="text-gray-500 dark:text-gray-400 text-md">
    <slot>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
    </slot>
    </p>
  </div>
  <div class="w-full ml-4 flex flex-row-reverse pr-4">

  <a class="btn text-white bg-gray-900 hover:bg-gray-800 dark:bg-gray-800 dark:hover:bg-gray-700 ml-4"
    href="#0">Read
    </a>
    
  </div>
</div>