---
	import Layout from '~/layouts/Layout.astro';
  // import BasicFeatures from '~/components/astro/features/BasicFeatures.astro';
  import ArticleList from '~/components/astro/blog/ArticleList.astro';
---

<Layout title="The Blog">
<main>
  <ArticleList />
</main>
</Layout>