---
import Layout from '~/layouts/Layout.astro';
import Product from '~/components/ressource/product.astro';
---


<Layout title="Kodaps : les ressources">
  <main id="swup">
      <Product />
  </main>
  </Layout>