---

const { slug } = Astro.props;

---


<script is:inline src="https://gumroad.com/js/gumroad-embed.js"></script>
<div class="gumroad-product-embed">
  <a href={"https://kodaps.gumroad.com/l/"+slug}>Loading...</a>
</div>

