---

import Product from "./product.astro";
import ProductCard from "./productcard.astro";
;
---
<div><h1> Ressources </h1></div>
<div class="max-w-xl mx-auto">
  <ProductCard image="/images/products/git2.jpg" title="JavaScript: The First Steps" />
  <ProductCard image="/images/products/git2.jpg" title="Git & GitHub: The First Steps" />
</div>